.SectionThree {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    margin-bottom: 60px;
    background-image: url('../../assets/Group 88.png');
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.infos-3{
    margin-left: 35%;
}

.SectionThree h1 {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.09em;
    text-align: left;
    width: 680px;
}

.SectionThree p {
    width: 538px;
    font-family: 'Baloo Paaji 2';
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.09em;
    text-align: left;
    color: #727272;
}

.SectionThree button {
    width: 150px;
    height: 49px;
    color: #FFFF;
    font-size: 18px;
    letter-spacing: 0.09em;
    background-color: #D167EE;
    border: none;
    outline: none;
    border-radius: 25px;
}