.SectionSeven {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/Group 93.png');
    background-repeat: no-repeat;
    background-position: center;
}

.news-letter {
    margin-top: 25px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Baloo Paaji 2';
}

.news-letter p {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.18em;
    color: #686868;
    width: 406px;
    margin-bottom: 66px;
}

.input {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    width: 353px;
    height: 49px;
    background-color: #FFFF;
    border-radius: 25px;
}

.input input {
    background: none;
    outline: none;
    border: none;
    font-family: 'Baloo Paaji 2';
    color: #A3A3A3;
    font-weight: 400;
}

.input button {
    background-color: #D167EE;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #FFFF;
    font-weight: 700;
}